<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Approved</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="./roomallocfull.svg" alt="logo" />
      </div>
      <div class="heading">Hello {{name}},</div>
      <div>Your booking #<span class="booking-id">{{bookingid}}</span> has been deleted.</div>
      <div class="details">
        <table>
          <thead>
            <tr>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Space ID</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{starttime}}</td>
              <td>{{endtime}}</td>
              <td>{{spaceid}}</td>
              <td class="status">
                {{currentstatus}}
                <span class="material-icons decline">delete</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="quote-box">{{description}}</div>
    </div>
  </body>
</html>
